.containr {
  border: 2px solid white;
  height: 800px;
  width: 80%;
  text-align: center;
  margin-left: 150px;
}
.header {
  border: 2px solid white;
  height: 70px;
  width: auto;
}
.our {
  position: absolute;
  left: auto;
}
.services {
  border: 2px solid white;
  height: 230px;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.box {
  border: 2px solid white;
  height: 220px;
  width: 250px;
  margin: 5px;
}
.header {
  border: 2px solid white;
  height: 70px;
  width: auto;
}
.meet {
  position: absolute;
  left: auto;
}
.services2 {
  border: 2px solid white;
  height: 320px;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.picture {
  border: 2px solid white;
  height: 270px;
  width: 370px;
}
.foot {
  border: 2px solid white;
  height: 80px;
  width: auto;
  background-color: rgb(24, 216, 24);
}
.write {
  color: white;
  text-align: center;
  font-size: 25px;
}
.img1 {
  background-image: url(https://wallpaper.dog/large/20526437.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img2 {
  background-image: url(https://cdn.wallpapersafari.com/49/27/MShfDH.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img3 {
  background-image: url(https://img5.goodfon.com/wallpaper/nbig/1/1e/david-gohrich-krasivaia-devushka-model-shatenka-poziruet-na.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.head {
  font-size: 30px;
  color: rgb(24, 216, 24);
}
.tracy {
  position: relative;
  left: 5px;
  bottom: 0px;
}
